# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
# assets/js/dist

/_posts/2023-10-01-Unit1Lesson.md
/_posts/2023-10-04-Unit2Hacks.md
/_posts/2023-10-04-Unit2Lesson.md
/_posts/2023-10-08-Unit3Lesson.md
/_posts/2023-10-12-Unit4Lesson.md
/_posts/2023-10-14-Unit5Lesson.md
/_posts/2023-10-17-Unit6Lesson.md
/_posts/2023-10-24-Unit7Lesson.md
/_posts/2023-10-26-Unit8Lesson.md
/_posts/2023-10-30-Unit9Lesson.md
/_posts/2023-10-31-Unit10Lesson.md